.col-lg-offset-1.col-lg-10
  .panel.panel-info
    .panel-heading JobStatusBot
    .panel-body#chat-content
    .panel-footer
      = form_tag request_path, method: :post, remote: true do
        .input-group
          = text_field_tag :command, nil, placeholder: 'Message...', class: 'form-control', id: 'command'
          %span.input-group-btn
            = button_tag(class: 'btn btn-default') do
              %span.glyphicon.glyphicon-send
